[submodule "sistema_fisico"]
	path = sistema_fisico
	url = https://github.com/CarlosAndresErazoGarzon/irrigation
[submodule "aplicacion_movil"]
	path = aplicacion_movil
	url = https://github.com/MrZ0mbi3/appProyectoGrado
